        body {
            font-family: 'Wire One', sans-serif;
            background-color: #100c08;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            color: #333;
        }
        .container {
            text-align: center;
            background-color: #253529;
            padding: 60px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        .container h1 {
            font-size: 7em;
            margin-bottom: 0.5em;
            color: #e74c3c;
        }
        .container p {
            font-size: 3em;
            color: #e74c3c;
        }